.sectionOne {
  flex: 0 0 70%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-right: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: -5px 5px 38px #d9d9d9, 5px -5px 38px #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  text-decoration: none;
  color: #000;
}

.buttonActive {
  text-decoration: underline;
  color: #007bff;
}

.searchBox {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.servicesGrid {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.serviceCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1px;
  background-color: #f9f9f9;
  text-align: left;
  border-bottom: 1px solid black;
  cursor: pointer;
  height: 20%;
}

.serviceCard img {
  max-width: 50px;
  margin-right: 15px;
}

.arrowIcon {
  color: #007bff;
}
@media (max-width: 768px) {
  .sectionOne {
    margin-right: 0;
   padding: 1em;
  }
}