.sectionOne {
  flex: 0 0 70%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-right: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: -5px 5px 38px #d9d9d9, 5px -5px 38px #ffffff;
}

.welcomeBox {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #eef1f5;
  border-radius: 10px;
}

.loginIcon {
  font-size: 40px;
  margin-right: 20px;
}

.welcomeText {
  flex: 1;
  text-align: left;
}

.heading {
  margin: 0;
  font-size: 20px;
}

.subHeading {
  margin: 5px 0;
  color: #555;
}

.loginButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #0056b3;
}

.exploreHeading {
  margin-top: 30px;
}

.exploreBoxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.box:last-child {
  margin-right: 0;
}

.boxImage {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.boxText {
  font-size: 15px;
  font-weight: bold;
}

.popularServicesContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.popularHeading {
  margin: 0;
}

.viewAllLink {
  color: #007bff;
  cursor: pointer;
}

.viewAllLink:hover {
  text-decoration: underline;
}

.serviceBoxes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  overflow: hidden;
}

.serviceBox {
  flex: 1;
  padding: 1em;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.serviceBox:hover {
  text-decoration: underline;
}

.serviceBox:last-child {
  margin-right: 0;
}

.serviceBoxImage {
  width: 2em;
  height: 2em;
  margin-bottom: 0.5em;
}

.serviceBoxText {
  font-size: 13px;
}

.needExpertsContainer {
  margin-top: 30px;
  text-align: left;
}

.needExpertsHeading {
  margin-bottom: 10px;
}

.needExpertsText {
  font-size: 12px;
  text-align: center;
}

.expertsLayout {
  display: flex;
  margin-top: 20px;
}

.fullHeightBox {
  flex: 0 0 30%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.fullHeightBox:last-child {
  margin-bottom: 0;
}

.halfWidthBoxes {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}

.halfWidthBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.halfWidthBox:last-child {
  margin-bottom: 0;
}

.halfWidthBoxMobile {
  flex-direction: column;
}

.image {
  width: 4em;
  height: 4em;
}

.imageHalf {
  width: 2em;
  height: 2em;
}

.text {
  font-size: 15px;
  font-weight: bold;
}
@media (max-width:900px) {
  .sectionOne {
    
    margin-right: 0;
    
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .welcomeBox {
    flex-direction: column;
    justify-content: space-around;
  }

}

@media (max-width: 400px) {
  .exploreBoxes {
    flex-direction: column;
    gap: 1em;
  }
 
}

@media (max-width: 600px) {
  .halfWidthBox {
    flex-direction: column;
  }

  .image {
    width: 2em;
    height: 2em;
  }
}
