* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* theme */
:root {
  --background-color: #f9f9f9;
  --text-color: #333;
  --link-color: #337ab7;
  --link-hover-color: #23527c;
  --button-background: #4caf50;
  --button-text-color: #fff;
}

body.dark-mode {
  --background-color: #333;
  --text-color: #f9f9f9;
  --link-color: #62a8ea;
  --link-hover-color: #88c3ff;
  --button-background: #1d1d1d;
  --button-text-color: #ccc;
}

/* Apply the variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
}
/* body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color:var(--background-color);
}
h1,h2,h3{
color: var(--text-color);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

::-webkit-scrollbar{
  display: none;
}